title Webcomponent Example Project
script(src="components/example-components.js" type="module")
link(rel="stylesheet" href="tokens.styl")
link(rel="stylesheet" href="style.styl")

h1 Component examples

<example-component></example-component>
<example-component title="This uses a title set via attribute"></example-component>
