// In any component system, I typically have a tokens file that allows me to define colors and other reused variables. It's also
// the best way to target various items inside of the shadowroot. 
:root {
  --example-token-red: #f82244;
}